name: prototipo-iot

services:
  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    restart: unless-stopped
    ports:
      - ${INFLUX_PORT}:8086
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: ${INFLUX_USER}
      DOCKER_INFLUXDB_INIT_PASSWORD: ${INFLUX_PASSWORD}
      DOCKER_INFLUXDB_INIT_ORG: ${INFLUX_ORG}
      DOCKER_INFLUXDB_INIT_BUCKET: ${INFLUX_BUCKET}
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${INFLUX_TOKEN}
    volumes:
      - influxdb-data:/var/lib/influxdb2
    networks:
      - iot-net


  mosquitto:
    image: eclipse-mosquitto:openssl
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - ${MOSQUITTO_PORT}:1883
<<<<<<< Updated upstream
      - "9001:9001"
=======
>>>>>>> Stashed changes
    volumes:
      - ./volumes/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mosquitto-data:/mosquitto/data
      - mosquitto-log:/mosquitto/log
    networks:
      - iot-net

  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    restart: unless-stopped
    ports:
      - ${GRAFANA_PORT}:3000
    environment:
      GF_SECURITY_ADMIN_USER: ${GRAFANA_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_PASS}
    volumes:
      - ./volumes/grafana-data:/var/lib/grafana
    networks:
      - iot-net

<<<<<<< Updated upstream
=======
  app:
   image: prototipo-iot-app
   container_name: prototipo-iot-app
   restart: unless-stopped
   environment:
     - INFLUX_URL=http://influxdb:8086
     - INFLUX_TOKEN=${INFLUX_TOKEN}
     - INFLUX_ORG=${INFLUX_ORG}
     - INFLUX_BUCKET=${INFLUX_BUCKET}
     - MQTT_BROKER=mosquitto
     - MQTT_PORT=1883
   depends_on:
     - influxdb
     - mosquitto
   networks:
     - iot-net

>>>>>>> Stashed changes
networks:
  iot-net:
    driver: bridge

  services:
    app:
      build: .
      container_name: prototipo-iot-app
      restart: unless-stopped
      volumes:
        - ./src:/app
      depends_on:
        - influxdb
        - mosquitto
      networks:
        - iot-net

volumes:
  influxdb-data:
  mosquitto-data:
  mosquitto-log:
  mosquitto-config: