name: Build Docker on version tag

# Só dispara quando criar tags que começam com "version-"
on:
  push:
    tags:
      - 'version-*'  # qualquer tag que comece com version-

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:    
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build Docker image
        run: |
          TAG=${GITHUB_REF##*/}
          docker build -t eduardoranzanferreira/prototipo-iot:$TAG .
      
      - name: Push Docker image
        run: |
          TAG=${GITHUB_REF##*/}
          docker push eduardoranzanferreira/prototipo-iot:$TAG
